.text,.article {
    position: relative;
    animation-name: startloading;
    animation-duration: 1s;
    color: #111111,
}

@keyframes startloading {
    0% {
        left: -2000px;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

.text#active,.article#active,.listline#active {
    position: relative;
    animation-name: endloading;
    animation-duration: 1s;
    color: #111111;
    animation-fill-mode: forwards;
}

@keyframes endloading {
    0% {
        left: 0px;
        opacity: 1;
    }

    50% {
        opacity: 0;
    } 

    100% {
        left: -2000px;
        opacity: 0;
    }
}

span {
    position: relative;
    animation-name: startloadingspan;
    animation-duration: 800ms;
}

@keyframes startloadingspan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

span#active {
    position: relative;
    animation-name: endloadingspan;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes endloadingspan {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

