/* Font引用 */

@font-face {
  font-family: "Microsoft Yahei";
  src: local(Microsoft), local("Microsoft Yahei");
  src: url(/css/font/WeiRuanYaHei.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Furore";
  src: url(/css/font/Furore.ttf), local("Furore");
  font-display: swap;
}

@font-face {
  font-family: "Randfont";
  src: url(/css/font/randfont.ttf), local("Randfont");
  font-display: swap;
}

/* 粗体优化 */
b {
  font-family: "Microsoft Yahei", "MicrosoftYaHei";
  font-weight: bold;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #1e1e1e;
  color: #c6c9ce;
  font-size: 13px;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-overflow-scrolling: touch;
}

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

nav,
header {
  font-family: "Microsoft Yahei", "MicrosoftYaHei";
  font-weight: bold;
}

.menu {
  font-family: "Furore", "Microsoft Yahei", "MicrosoftYaHei";
  font-weight: lighter;
}

p {
  color: #c6c9ce;
}

.lock {
  overflow: hidden;
  max-height: 100%;
}

body,
input,
button,
textarea,
select,
option {
  font: normal 1em "Microsoft Yahei", "MicrosoftYaHei", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
pre,
dl,
dd,
blockquote,
button,
input {
  margin: 0;
}

input,
legend,
input,
textarea,
button {
  padding: 0;
}

form,
fieldset,
th,
td {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 12px 0;
  padding: 0 0 0 32px;
}

ol.reset,
ul.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 12px 0;
}

small {
  font-size: 75%;
  line-height: 1;
}

main {
  display: block;
}

template {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

img:not(.logoname, .logoimg, .img-fullscreen) {
  cursor: zoom-in;
}

img,
input,
button,
label {
  vertical-align: middle;
}

i {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 48px;
  color: #c6c9ce;
}

h2,
.h2 {
  font-size: 34px;
  line-height: 40px;
}

h3,
.h3 {
  font-size: 24px;
  line-height: 32px;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 28px;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 24px;
}

h6,
.h6 {
  font-size: 12px;
  line-height: 20px;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

a {
  background-color: transparent;
  background-image: none;
  color: #c6c9ce;
  text-decoration: none;
  outline: 0;
}

hr,
.hr {
  border: 0;
  border-top: 1px solid #dadada;
  box-sizing: content-box;
  display: block;
  height: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
  position: fixed;
  line-height: 40px;
}

.headers {
  margin-left: 8%;
  width: 60%;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0px;
  word-spacing: 30px;
  font-family: "Microsoft Yahei", "MicrosoftYaHei";
  font-weight: bold;
  margin-right: 2%;
}

a:link {
  color: #c6c9ce;
}

a:visited {
  color: #c6c9ced7;
}

a:hover {
  color: #03a9f4;
}

a:active {
  color: #0078d7;
}

.logoimg,
.logoname {
  display: inline-block;
}

.main {
  color: honeydew;
  position: absolute;
  top: 50%;
  left: 5%;
}

.typing {
  color: #fff;
  overflow: hidden;
  border-right: 0.15em solid whitesmoke;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 3s steps(60, end), blink-caret 0.5s step-end infinite,
    show 0.3s;
  animation-delay: 0.3s;
  text-align: left;
}

@keyframes typing {
  from {
    width: 0;
    display: block;
  }

  to {
    width: 100%;
    display: block;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.more {
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

/* .loadingcircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c6c9ce;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
} 

@keyframes s5 {
  to {
    transform: rotate(.5turn)
  }
}
*/

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 130px;
  place-items: center;
}

* {
  box-sizing: border-box;
}

/* [class*=classic]:before {
  content: "Loading...";
}

.classic {
  font-weight: bold;
  font-family: Furore;
  font-size: 30px;
  animation: c1 1s linear infinite alternate;
}

@keyframes c1 {
  to {
    opacity: 0
  }
} */

header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft Yahei", "MicrosoftYaHei", sans-serif;
}

body .text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Microsoft Yahei", "MicrosoftYaHei";
}

header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 10px 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

header .logo {
  color: #c6c9ce;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  width: 26%;

}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../img/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(../img/close.png);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111111;
  transition: 0.5s;
  z-index: 2;
}
.shade {
  z-index: 0;
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  opacity: 0;
  background-color: #000;
}

.showcase.active {
  right: 300px;
  background-color: #000;
}
.shade.active {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.showcase video {
  margin: 0 auto;
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e00;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a.button {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a.button:hover {
  letter-spacing: 6px;
}

.social {
  left: 40px;
  position: inherit;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

hr,
.hr {
  border: 0;
  border-top: 1px solid #dadada;
  box-sizing: content-box;
  display: block;
  height: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0px;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #c6c9ce;
}

.article {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;

}

.menu ul li a:hover {
  color: #03a9f4;
}

@media (max-width: 991px) {
  .logoname {
    display: none;
  }

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .social {
    left: 0;
    bottom: 0;
  }

  .text h2 {
    font-size: 4em;
  }

  .text h3 {
    font-size: 3em;
  }

  .article {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    bottom: -2%;
  }
}

@media (max-width: 700px) {
  .social {
    left: 0;
    bottom: -2%;
  }

  .headers {
    display: none;
  }

  html {
    font-size: 10px;
  }

  .showcase {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .showcase div.text {
    height: fit-content;
    align-self: center;
    text-align: center;
    top: -2%;
    margin-bottom: 10px;
  }

  .showcase div.listline {
    height: 80%;
    min-inline-size: --webkit-fill-available;
    min-inline-size: -moz-available;
    min-inline-size: fill-available;
    min-inline-size: 100%;
    margin-bottom: -5%;
  }

  .title {
    top: 0;
    width: 50%;
    word-break: break-all;
  }


  .social {
    margin: 0 auto;
    position: relative;
    bottom: -5%;
    padding: 0;
  }

  ol,
  ul {
    margin: 12px 0;
    padding: 0 16px 0 16px;

    
    }
    .article {
      width: 100%;
      height: 80%;
      overflow-y: auto;
      overflow-x: hidden;
      word-break: break-all;
      bottom: -7%;
  }
}

@media (max-height: 500px) {

  .showcase {
    padding: 20px;
  }

  .article {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    bottom: -2%;
  }

  .social,nav,.headers,header{
    display: none;
  }

  .toggle {
    display: block;
  }
}
  

textarea {
  resize: none;
}

code {
  font-family: Consolas, Monaco, courier, monospace;
  line-height: initial;
}

.article code {
  border: #252627 solid 1px;
  background-color: #1e1e1e;
  border-radius: 4px;
}

section {
  height: 100%;
}

.listline {
  max-width: 40%;
  min-width: 35%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.codeline {
  width: 98%;
  height: auto;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #111111;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c6c9ce6e;
}

strong {
  font-weight: bold;
  font-family: "Microsoft YaHei";
}

.right {
  align-content: right;
  text-align: right;
}

.text a.tag,
a.c,
.article a.tag,
a.m {
  display: inline-block;
  font-size: 1em;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 1s;
  font-family: "Furore", "Microsoft YaHei";
}

img.img {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.center {
  align-content: center;
  text-align: center;
}

.linkline {
  border-bottom: 1px dashed #ffffff;
  color: #ffffff;
}

pre {
  background: #2d2d2d;
  color: rgb(201, 209, 217);
  font-family: Consolas;
  text-align: left;
  padding: 1em;
  padding-left: 0.8em;
  margin: 1em;
  border-radius: 5px;
  counter-reset: line;
  word-spacing: normal;
  word-break: normal;
  line-height: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

pre span {
  display: block;
  line-height: 1.8rem;
  white-space: pre;
}

pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 3em;
  text-align: right;
  border-right: 2px solid #999;
  padding-right: 0.8em;
  margin-right: 1em;
  color: #999;
}

a {
  display: inline-block;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s cubic-bezier(0.28, 0.94, 0.82, 1.09);
}

a:not(.logos ,.social li a):hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Container */
.imgarea {
  --column-count-small: 1;
  --column-count-medium: 2;
  --column-count-large: 3;
  --column-gap: 0.125rem;
  padding: var(--column-gap);
}

/* Columns */
.imglist {
  column-gap: var(--column-gap);
  column-count: var(--column-count-small);
  column-width: calc(1 / var(--column-count-small) * 100%);
}

@media only screen and (min-width: 640px) {
  .imglist {
    column-count: var(--column-count-medium);
    column-width: calc(1 / var(--column-count-medium) * 100%);
  }
}

@media only screen and (min-width: 800px) {
  .imglist {
    column-count: var(--column-count-large);
    column-width: calc(1 / var(--column-count-large) * 100%);
  }
}

/* Bricks */
.brick {
  width: 100%;
  height: auto;
  margin: var(--column-gap) 0;
  display: block;
}

.brick:first-child {
  margin: 0 0 var(--column-gap);
}

.listprogram {
  opacity: 0;
  margin-left: 100px;
  display: none;
  transition-property: opacity, transform, display, right;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
  display: block;
}

.listprogramonload {
  margin-left: 0px;
  transition-delay: calc((0.1s * var(--i)));
  opacity: 1;
  display: block;
}

.menu ul a ,.listprogram{
  padding: 0 -1px;
  transition: opacity 0.5s;
}

.menu ul:hover a:not(:hover),.listline:hover .listprogram:not(:hover){
  opacity: 0.4;
}

.imgarea {
  position: relative;
}

.img-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  backdrop-filter: blur(14px) brightness(80%);
}

blockquote,.info {
  border-left: 4px solid #7a7e80;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: #c6c9ce;
  backdrop-filter: blur(14px) brightness(80%);
  margin-left: 10%;
  margin-right: 10%;
}

blockquote:hover,.info:hover {
  background-color: #7a7e80;
  transition: background-color 0.4s;
  color: #fff;
}
blockquote:hover a,.info:hover a {
  transition: color 0.4s;
  color: #5babec;
}

.img-show ,.img-show-out{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.95;
  z-index: 9000;
  transition: all 0.5s;
  cursor: zoom-out;
  background-color: #1e1e1e;
}

.img-fullscreen ,.img-fullscreen-out{
  cursor: zoom-out;
  z-index: 9100;
  position: absolute;
  max-width: 95%;
  max-height: 95%;
  opacity: 1;
  transition: all 0.5s;
}

.img-fullscreen-out {
  transition: all 0.5s;
  transform: scale(0);
  opacity: 0;
}
.img-show-out {
  transition: all 0.4s;
  opacity: 0;
}
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  background: #c6c9ce;
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10000;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
}

#jumping {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation-delay: 0.3s;
  text-align: left;
  font-size: large;
  font-family: 'Randfont', 'Microsoft Yahei',sans-serif;
  max-width: 100%;
}

.infos:after, .infos:before {
  font-size: 20rem;
  content: "BREAKING NEWS BREAKING NEWS";
  display: inline-block;
  padding-right: 0.6rem;
  animation: infosshow 20s linear infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  -webkit-text-stroke: 1px #776e6e;
  color: transparent; 
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: infosshow;
  font-size: 20rem;
  z-index: 100;
}

@keyframes infosshow {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}
*:focus-visible {
  outline:snow 1px solid;
}